/* Правильный путь и применяем к body */
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: url('./assets/kilyan-sockalingum-nW1n9eNHOsc-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  min-height: 100vh;
  margin: 0;
}